/* Landing Page */
.landing-container {
  text-align: center;
  padding: 50px 20px;
}

.landing-header {
  font-size: 36px;
  font-weight: bold;
  color: var(--primary-color);
}

.landing-text {
  font-size: 18px;
  margin-top: 10px;
  color: var(--text-color);
}

.landing-buttons {
  margin-top: 30px;
}

.landing-buttons button {
  margin: 10px;
}
